/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  font-family:fantasy , 'YuMincho';
}
html,body{
  height: 100%;
  background-color: #00293c; 
}
.body-container{
  background:radial-gradient(#666 10%,#00293c 70%); 
}
.body-container a{
  color: #fff;
  text-decoration: none;
}
/*  */
/*  */
.hide{
  visibility: hidden;
  /* opacity: 0; */
}
.open{
  display: block !important;
}
.fix{
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.space{
  clear: both;
  height:20px;
}
#space1{
  height: 20px;
}
/*  */
/*  */
/* welcome */
#welcome{
  position: relative;
  font-size: 42px;
  height:100%;
}
#welcome-img{
  display: none;
  background:radial-gradient(circle at 50% 40%,rgba(200, 200, 200, .3) 5%,rgba(0, 10, 0, 0.948) 90%),url(welcome.jpg);
  background-size: cover;
  height:100%;
  width:100%;
}
#welcome-message{
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  color:#fff;
  opacity: .7;
}
#welcome-word{
  display: none;
  margin-bottom: 20px;
  padding:20px;
}
#welcome-link{
  display: none;
  width: 30%;
  margin: 0 auto;
  border: 2px solid #fff;
  padding:10px;
  font-size: 20px;
}
/*  */
/*  */
/* contents */
#contents{
  display: none;
  margin:0 auto;
}
/*  */
/*  */
/* header */
#header{
  height: 60px;
  width:100%;
  padding: 5px;
  /* background:linear-gradient(45deg,rgb(30, 40, 30),rgb(10, 30, 0),rgb(40, 50, 40)); */
  /* background-color:#fff; */
  background-color:#051005;
  opacity: .9;
  position: relative;
  z-index: 100;
}  
.header-top{
  width:97%;
  height:60px;
  margin:0 auto;
}
.header-logo{
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.header-logo img{
  width:60px;
}
.header-nav{
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  color: #eee;
}
.header-nav-ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width:500px;
  margin-bottom: 0;
}
.header-nav-list{
  width:calc(100%/3);
  box-sizing: border-box;
  /* padding:5px; */
}
/*  */
/*  */
#hidden-header-menu{
  display: none;
  position: absolute;
  top:50%;
  right:4%;
  transform: translateY(-50%);
  border:1px solid #888;
  padding:5px 5px 0px 5px;
  color:#fff;
  font-size: 150%;
}
#hidden-header-nav{
  display: none;
  position: absolute;
  top: 100%;
  right: 5%;
  line-height:65px;
  background-color:rgba(255,255,255,0.8);
  padding:0 15px;
}
.hidden-header-nav-list{
  list-style-type: none;
}
/*  */
/*  */
/* main */
#main h1{
  width: 40%;
  margin: 0 auto;
  border-bottom:1px solid #d2d2d2;
  padding: 30px 10px 10px 10px;
  color: #d2d2d2;
  text-align: center;
  font-size: 32px;
}
/* about */
.about{
  padding: 20px 0px 20px 0px;
  text-align: center;
  /* background:radial-gradient(#d2d2d2 20%,#4f6457 80%);  */
    /* background:linear-gradient(45deg,rgba(20,20,20,.8),rgba(0, 30, 0,1.0)); */
  /* ,url(self-pic3.jpg);
  background-size: cover; */
}
.self{
 position: relative;
}
.self-side{
  /* display: none; */
  position: sticky;
  top:50px;
  left: 80px;
  float: left;
  width:100px;
  color: #eee;
  text-align: center;
}
.self-side li{
  list-style-type: none;
}
.self-side-list{
  border-bottom: 1px solid #eee;
  padding:20px 0px;
}
#side2{
  /* display: none; */
  float: right;
  position: sticky;
  top:100px;
  width:100px;
  margin-right: 80px;
  color: #eee;
  text-align: center;
}
.border-color{
  border-bottom: 1px solid #fff;
}
/* .self-contents{
  position: absolute;
  top: 50px;
  right: 50px;
} */
/* .self-contents2{
  position: absolute;
  top: 50px;
  left: 50px;
} */
.self-pic{
  padding:10px 20px;
}
.self-pic img{
  width: 90%;
  border: 4px solid #111;
  border-radius:10%;
  background: radial-gradient(#fff,#6b4a2b);
  opacity: .6;
}
.self-about{
  /* position: absolute;
  top: 150px;
  left: 300px; */
  padding: 80px;
  color:#eee;
  opacity:0.8;
}
.self-about2{
  position: absolute;
  top: 100px;
  left: 450px;
  /* display:flex;
  vertical-align: middle;
  align-items: center; */
  /* height: 500px; */
  width:400px;
  padding: 40px;
  color:#eee;
  opacity:0.8;
}
.name-info{
  width: 100%;
  margin-bottom: 30px;
}
.name-info::after{
  content: "　　　　";
  border-bottom: 1px solid #fff;
}
.name h2{
  padding-bottom: 10px;
  font-family:'Kaushan Script', cursive, 'YuMincho';
  font-size:32px;
}
#name-Ja h2{
  font-size: 20px;
}
.about-info{
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  font-family:fantasy , 'YuMincho';
}
.about-info p{
  margin:0;
  text-align: start;
  font-size:20px;
  line-height: 1.4;
}


/*  */
/*  */
/* works */
/* #works-title{
  width: 40%;
  margin: 0 auto;
  border-bottom:1px solid #d2d2d2;
  color: #d2d2d2;
  text-align: center;
} */
.works{
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: space-around; */
}
.work{
  width: 30%;
  height: 300px;
  margin: 10px;
  box-sizing: border-box;
  /* margin-bottom: 30px; */
  /* background-color: red; */
  position: relative;
} 
.work-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  color: #000;
  text-decoration: none;
} 
.work-content{
  text-align: center;
  padding-top: 20%;
  /* margin-top: 10px; */
}
.work-content::after{
  content: " ";
  border: solid 1px #000;
  display: block;
  width: 55px;
  margin: 15px auto;
}
.work-overlay p{
  text-align: center;
}
.work-img{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.work-img img{
  width: 100%;
  height: 100%;
}
.work-overlay:hover{
  opacity: .5;
}
/*  */
/*  */
/* contact */
#contact{
  /* margin-bottom: 200px; */
  padding: 20px 0px 50px 0px;
  font-size:20px;
}
.contact-list{
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}
#contact ul{
  list-style-type: none;
  padding:0;
}
#contact li{
  /* .twitter{ */
  color:white;
}
#contact li a{
  text-decoration: none;
  color:white;
}
/*  */
/*  */
/* footer */
#footer{
  height: 80px;
  width: 100%;
  /* padding: 5px; */
  background-color:#051005;
  opacity: .9;
  position: relative;
}
.footer-nav{
  position: absolute;
  top: 40%;
  right: 3%;
  transform: translateY(-50%);
  color: #eee;
}
.footer-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-bottom: 0;
  list-style-type: none;
}
.footer-nav-list{
  width:calc(100%/3);
  box-sizing: border-box;
}
/* .footer-nav span,.footer-nav i{
  color: #fff;
} */
#copy-right{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #eee;
}
#copy-right p{
  margin: 0px;
}
